In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Missing").getOrCreate()

In [3]:
spark

In [4]:
employee = spark.read.csv("emp1.csv" , inferSchema = True, header = True) 
employee.show()

+------+-------+----+-------+----+---+
|emp_id|   name|dept|salary | age|sex|
+------+-------+----+-------+----+---+
|     1|  argha|sale|  10000|  25|  M|
|     2|  sohag|tech|  20000|  25|  M|
|     7|  soura|tech|  30000|  25|  M|
|     4| shivam|tech|  10000|  26|  F|
|     5|  lohit|  hr|  40000|  26|  F|
|     6|prakash|  hr|  50000|  26|  M|
|     8|sourabh|tech|  60000|null|  F|
|    10|  biswa|sale|  50000|null|  M|
|     7|   null|tech|  30000|  25|  M|
|     6|prakash|null|  50000|  26|  M|
|     4| shivam|tech|  10000|  26|  F|
+------+-------+----+-------+----+---+

In [5]:
employee.na.drop().show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+

In [6]:
employee.na.drop(how = "all").show()

+------+-------+----+-------+----+---+
|emp_id|   name|dept|salary | age|sex|
+------+-------+----+-------+----+---+
|     1|  argha|sale|  10000|  25|  M|
|     2|  sohag|tech|  20000|  25|  M|
|     7|  soura|tech|  30000|  25|  M|
|     4| shivam|tech|  10000|  26|  F|
|     5|  lohit|  hr|  40000|  26|  F|
|     6|prakash|  hr|  50000|  26|  M|
|     8|sourabh|tech|  60000|null|  F|
|    10|  biswa|sale|  50000|null|  M|
|     7|   null|tech|  30000|  25|  M|
|     6|prakash|null|  50000|  26|  M|
|     4| shivam|tech|  10000|  26|  F|
+------+-------+----+-------+----+---+

In [7]:
employee.na.drop(thresh = 1 ).show()

+------+-------+----+-------+----+---+
|emp_id|   name|dept|salary | age|sex|
+------+-------+----+-------+----+---+
|     1|  argha|sale|  10000|  25|  M|
|     2|  sohag|tech|  20000|  25|  M|
|     7|  soura|tech|  30000|  25|  M|
|     4| shivam|tech|  10000|  26|  F|
|     5|  lohit|  hr|  40000|  26|  F|
|     6|prakash|  hr|  50000|  26|  M|
|     8|sourabh|tech|  60000|null|  F|
|    10|  biswa|sale|  50000|null|  M|
|     7|   null|tech|  30000|  25|  M|
|     6|prakash|null|  50000|  26|  M|
|     4| shivam|tech|  10000|  26|  F|
+------+-------+----+-------+----+---+

In [8]:
employee.na.drop(subset = ["age"]).show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     7|   null|tech|  30000| 25|  M|
|     6|prakash|null|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+

In [11]:
employee.na.fill(99).show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     8|sourabh|tech|  60000| 99|  F|
|    10|  biswa|sale|  50000| 99|  M|
|     7|   null|tech|  30000| 25|  M|
|     6|prakash|null|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+

In [12]:
employee.na.fill("unknown", subset = ["name", "dept"]).show()

+------+-------+-------+-------+----+---+
|emp_id|   name|   dept|salary | age|sex|
+------+-------+-------+-------+----+---+
|     1|  argha|   sale|  10000|  25|  M|
|     2|  sohag|   tech|  20000|  25|  M|
|     7|  soura|   tech|  30000|  25|  M|
|     4| shivam|   tech|  10000|  26|  F|
|     5|  lohit|     hr|  40000|  26|  F|
|     6|prakash|     hr|  50000|  26|  M|
|     8|sourabh|   tech|  60000|null|  F|
|    10|  biswa|   sale|  50000|null|  M|
|     7|unknown|   tech|  30000|  25|  M|
|     6|prakash|unknown|  50000|  26|  M|
|     4| shivam|   tech|  10000|  26|  F|
+------+-------+-------+-------+----+---+

In [14]:
## fill Missing values by mean
from pyspark.sql.functions import mean

In [24]:
mean = employee.select(mean("age")).collect()
mean_age = mean[0][0]

TypeError: 'list' object is not callable

In [25]:
employee.na.fill(mean_age, subset= ["age"]).show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     8|sourabh|tech|  60000| 25|  F|
|    10|  biswa|sale|  50000| 25|  M|
|     7|   null|tech|  30000| 25|  M|
|     6|prakash|null|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+